textarea {
    width: 500px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    padding: 2px;
    resize: none;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
textarea:focus {
    outline: 2px solid lightblue;
}